html, * { box-sizing: border-box; }

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color:#a3a3a3;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.ccontainer { padding: 0px 15px 0px 15px; }

.links {
  text-decoration: none;
  color: #a3a3a3;
  letter-spacing: 3px;
  font: 1500 2em;
  font-family: "Dancing Script", "Rubik", sans-serif; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
}
.darkGrey{
    color: #616161 !important;
}
.phone-numbers {
  font-size: 14px; 
  font-variant: normal; 
  margin-top: 6px;
  font-weight: 600
}

.links:hover, .links:focus { color: black; text-decoration: none; }

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
}
.menu-left .links:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .35s ease;
}
.menu-left a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: width .35s ease;
}
.menu-left a:hover:before {
  width: 100%;
  background: #000;
  transition: width .35s ease;
}
.menu-left a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem 0;
  background: rgba(255, 255, 255, 0.98);
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
header nav .logo {
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  line-height: inherit;
}
header nav .logo:after {
  content: '';
  display: table;
  clear: both;
}
header nav .logo img {
    width: 230px;
}
header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
header nav ul li {
  float: none;
  margin-left: 0;
}
header nav ul li a { 
    display: block; 
}
.hide-nav {
 transform: translateY(-120% !important); 
 -webkit-transform: translateY(-120%) !important; 
}
ul.menu-left {
  display: block;
  float: right;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}

ul.menu-left:before {
  content: '';
  display: table;
  clear: both;
}

ul.menu-left.collapse { max-height: 20em !important; }

.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  float: right;
  height: 38px;
  width: 38px;
  margin-top: 15px;
  cursor: pointer;
  padding: 8px 8px;
}

.nav-toggle.open span:first-child { transform: rotate(45deg) translate(4.4px, 4.4px); }

.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-toggle.open span:last-child { transform: rotate(-45deg) translate(4.4px, -4.4px); }

.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: #a3a3a3;
  transition: all .25s;
}
.bodyContainer{
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.centeredText{
    text-align: center;
    padding: 0 35px;
}
.whiteText{
    color: white !important;
}
.bigText{
    font-size: 30px;
}
.roundedBtn{
    border-radius: 18px !important;
}
.greyBtn{
    background-color: #999999 !important;
    color: white !important;
}

/* GALLERY */
.gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%; 
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.centeredDiv{
    display: block;
    margin: 0 auto;
}
.divBackground{
    background-color: #bdbdbd !important;
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

@media (min-width: 0) {
    .ccontainer {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .ccontainer:after {
        content: " ";
        display: block;
        clear: both;
    }
    .galleryContainer{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .galleryImage{
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 5%;
    }
}
@media (min-width: 400) {
    header nav .logo img {
        width: 300px;
    }
}
@media (min-width: 576px) {
    .ccontainer {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
    .ccontainer:after {
        content: " ";
        display: block;
        clear: both;
    }
    .bodyContainer{
        width: 85%;
    }
    .mainParagraph{
        margin-top: 80px;
        color: grey
    }
    .centeredText{
        text-align: center;
        padding: 0 45px;
        color: grey;
        font-family: "Rubik", sans-serif; 
    }
    .galleryContainer{
        width: 80%;
    }
    .galleryImage{
        width: 90%;
    }
}
@media (min-width: 769px) {
    .nav-toggle { 
        display: none; 
    }
    ul.menu-left {
        display: block !important;
        float: right;
        max-height: none;
        }
    header nav ul li {
        float: left;
        margin-left: 1rem;
    }
    header nav ul li a { 
        display: block;  
        padding: .425rem 0rem;
    }
    .ccontainer {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
    .ccontainer:after {
        content: " ";
        display: block;
        clear: both;
    }
    .centeredText{
        text-align: center;
        padding: 0 85px;
    }
    .galleryContainer{
        width: 65%;
    }
    .galleryImage{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .ccontainer {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .ccontainer:after {
        content: " ";
        display: block;
        clear: both;
    }
}
@media (min-width: 1200px) {

    .ccontainer {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
    .ccontainer:after {
        content: " ";
        display: block;
        clear: both;
    }
    .bodyContainer{
        width: 50%;
    }
    .galleryContainer{
        width: 55%;
    }
    .galleryImage{
        width: 100%;
    }
}

@media (max-width: 768px) {
    ul { clear: both; }
    ul li { padding: .5em 0; }
    .phone-numbers {
        margin-top: 0px;
    }
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }

}